header {
    background-color: #000000;
    padding: 20px;
    text-align: right;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  
  nav ul li {
    display: inline-block;
    margin-right: 30px;
    font-family: sans-serif;
  }
  
  nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  
  input[type="text"] {
    width: 200px;
    height: 20px;
    padding: 3px;
  }
  
  .news-item {
    width: 1000px; /* Adjust the width as per your preference */
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .content {
    display: flex;
  }
  
  .image {
    width: 30%;
  }
  
  .image img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .text {
    width: 70%;
    padding: 10px;
  }
  
  .text h2, .text h3 {
    font-size: 18px;
    margin: 0;
    padding-bottom: 5px;
  }
  
  .text p {
    margin: 0;
    padding: 0;
  }
  
  .small-news-container {
    display: flex;
    justify-content: space-between;
  }
  
  .small-news-item {
    width: 30%;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .small-news-item .content {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  
  .small-news-item .text h3 {
    font-size: 14px;
    margin: 0;
    padding-bottom: 5px;
  }
  
  
  
